{% extends 'cart/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Apna HUB!</h1>
      <p style="margin-top:30px"><hr>Apna HUB Pvt Ltd. is an Indian electronic commerce company based in Pune, India.
      Founded by Pralay Patil and Shardul  Pattewar in January 2019, the company initially focused on gadget sales.
      The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal. As of April 2019,
      Apna HUB held a 18.5% market share of India's e-commerce industry. Apna HUB is significantly dominant in the sale
      of gadgets and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.

      Initially, the Patil and Pattewar spent ₹400,000 (US$5,800) on developing the site. Apna HUB later raised funding from
      venture capital funds Accel India (US$1 million in 2009)and Tiger Global (US$10 million in 2010 and US$20
      million in June 2011).On 24 March 2019, Apna HUB announced the completion of its 1th round of US$150
      million funding from MIH (part of Naspers Group) and ICONIQ Capital. The company announced, on 10 April 2019, that
      it has raised an additional US$200 million from existing investors including Tiger Global, Naspers, Accel Partners
      and Iconiq Capital.


      </hr>
</p>
    </div>
  </div>

</main>





{% endblock %}
